{% extends 'header.html' %} {% block main %}
<div class="container mt-5">
  <div class="card">
    <form method="POST">
      {% csrf_token %}
      <div class="card-body">
        {% for field in login_form %}

        <div class="row">{{field.label}} {{field}}</div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-4">Login</button>
        <h5>Don't have an account <a href="{% url 'register' %}" class="card-link">Register</a></h5>
      </div>
    </form>
  </div>
</div>
{% endblock main %}
